<html>
  <head>
    <title>テストォォォォォォ</title>
    <link rel="stylesheet" type="text/css" href="style.css" media="all">
  </head>
  <body>
    <div id="wrapper">
    <div class="question_box">
      <p class="name">質問者</p>
      <div id="arrow_question">
                テストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォテストォォォォォォ
      </div>
    </div><!-- /.question_box -->

    <div class="answer_box">
      <p class="name02">解答者</p>
      <div id="arrow_answer">
          バルーンが可変してますね。
      </div>
    </div><!-- /.answer_box -->
    </div><!-- /#wrapper -->
  </body>
</html>
